<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.mybatis.login.mapper.UserMapper">
    <!--    <cache/>-->
    <resultMap id="User" type="com.xs.mybatis.login.entity.User">

        <result property="email" column="email"></result>
        <result property="name" column="name"></result>
        <result property="age" column="age" typeHandler="com.xs.mybatis.config.CustomTypeHandler"></result>


    </resultMap>

    <select id="select" resultMap="User">
        select * from user
    </select>
    <select id="selectOne" resultType="com.xs.mybatis.login.entity.User" parameterType="string">
        select * from user where id=#{id}
    </select>

    <!--    重复利用的sql-->
    <sql id="user">${alias}.id,${alias}.name,${alias}.email </sql>


    <select id="selectChoose" parameterType="com.xs.mybatis.login.entity.User" resultMap="User">
        select * from user u
        <where>
            <if test="email!=null">
                u.email=#{email}
            </if>
            <trim prefix="and">
                <choose>
                    <when test="name!=null">
                        u.name = #{name}
                    </when>
                    <when test="age!=null">
                        u.age = #{age}
                    </when>
                    <otherwise>
                        u.name='Tom'
                    </otherwise>
                </choose>
            </trim>

        </where>
    </select>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from user where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>


    <!--    批量插入-->

    <insert id="insertBatch" parameterType="java.util.List">
        insert into user (age,name,email)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.age},
            #{item.name},
            #{item.email})
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="list">


        <foreach collection="list" separator=";" item="item">
            update user set
            age=#{item.age},
            name=#{item.name},
            email=#{item.email}

        </foreach>
    </update>

    <!-- 添加用户 -->
    <insert id="updateBatch" parameterType="com.xs.mybatis.login.entity.User" statementType="CALLABLE">
		{call insert_user(
		#{id,mode=OUT,jdbcType=INTEGER},#{name,mode=IN},#{sex,mode=IN},#{age,mode=IN})}
	</insert>

</mapper>
